<p>こちらから、<br>
お好きな色へ飛んで下さい
</p>
<div class="row">
  <% Color.all.each do |color| %>
    <div class="col-6">
      <%= link_to color_path(color.id) do %>
        <p><%= color.name %></p>
      <% end %>
    </div>
    <div class="col-6">
      <%= link_to new_color_post_path(color) do %>
        <i class="fa-solid fa-circle-plus fa-3x"></i>
      <% end %>
    </div>
  <% end %>
</div>