<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>色好き集まれ！</h1>
      <p>色を通じて、コミュニティを作りましょう！</p>

      <div class="row">
        <p>まずはお試しでこのサイトを見てみましょう！</p>
        <%= link_to "ゲストログイン（閲覧用）", guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
      </div>
    </div>
  </div>
</div>