<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <p>こちらから、<br>
      お好きな色へ飛んで下さい
      </p>
        <ul>
          <% Color.all.each do |color| %>
            <li><%= link_to color.name, color_path(color.id) %></li>
          <% end %>
        </ul>
        <div style="text-align: center;">
          <%= link_to new_color_post_path(color) do %>
          <i class="fa-solid fa-circle-plus fa-3x"></i>
          <% end %>
        </div>
    </div>

    </div>
  </div>
</div>