@use '~bootstrap/scss/bootstrap';

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background: linear-gradient(45deg, #ffd1dc, #ffebcd, #d4f1f4, #ffe4e1, #c9e9f8, #f0d9e7, #c7ecee);
}
.container {
 background-color:white;
}

ul {
 list-style-type: none;
}

.top-nav > a {
 width: 200px;
}